/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


#pane {
    -fx-background-image: url("/Image/Background.jpg");

     }

.button{
	-fx-background-color: tan;
<<<<<<< HEAD
	-fx-border-color: black;
=======
>>>>>>> ce222f2590b003526af4d154a78e4e085339c516
	}

.button:hover{
	-fx-text-fill:whitesmoke;
	}

