/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#pane {
    -fx-background-image: url("/Image/Background.jpg");
 	}

.button{
<<<<<<< HEAD
	-fx-background-color: tan;
	-fx-border-color: black;	
=======
	-fx-background-color: tan;	
>>>>>>> ce222f2590b003526af4d154a78e4e085339c516
}

.button:hover{
	-fx-text-fill:whitesmoke;
}

@font-face{
	font-family: Chargen;
	src:url("/Font/6809 chargen.ttf");
}


